.THIS .outercell {
    padding-left:5px; padding-right:5px; padding-bottom:10px; width:20%;
}

.THIS .innercell {
    height:50px; padding:2px; vertical-align:middle;
}

.THIS .stat {
	font-size:2em; font-weight:bold;
}

.THIS .statred {
    color: red;
}

.THIS .imageClass {
    width: 40px;
    max-width: unset;
    height: 40px;
}

.THIS .slds-form-element__icon {
    padding-top: unset;
    vertical-align: unset;
    line-height: unset;
}