.THIS {
    
}

.THIS .forceContentFileCard {
    width:95% !important;
}

.THIS .slds-file.slds-file--card {
    height:148px !important;
    background: #fafafa;
}

.THIS .uiImage img {
    height:80px !important;
}

/*.InlineBox {

display: inline-block; /* Change this to block and see what happens */
 /*padding: 2px;

    width:50px;
}
*/