.THIS {
    background-color: #181818;
    font-family: "JLR Proxima Nova", arial, helvetica, sans-serif; 
}

.THIS .block1{
    background-color: black;
}

.THIS .block2{
    background-color: #181818;
}

.THIS footer{
    background-color: black;
}
.THIS{
    background-color: #181818;
}

.THIS .ui-widget{
    margin:0;
}